@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona Sans", sans-serif;
  outline: none;
  background-color: #121e28;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

body {
  width: 100%;
}
