/* Principal - Incio */

.inicio {
  margin: 30px 0 0;
  display: flex;
  justify-content: space-around;
}

.main-h1 {
  font-weight: 400;
  font-size: 94px;
  margin-top: 137px;
  line-height: 163px;
}

.editado {
  font-weight: 700;
}

.main-botao-projeto,
.main-botao-curriculo {
  padding: 25px 40px;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border: 2px solid #ff715a;
  border-radius: 20px;
}

.ponto {
  background-color: #ff715a;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50px;
}

.linha-horizontal {
  display: inline-block;
  background-color: #ff715a;
  width: 269px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 48%;
}

.margin-nome {
  margin-left: 97px;
}

.profile-image {
  height: 1039px;
  display: inline-block;
}

.main-caixa-image {
  height: 1045px;
}

/* .main-subcontaine {
  width: 50%;
  white-space: 30px;
} */

.tecnologias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 53px;
  /* border: 1px solid red; */
  height: 151px;
  background-color: #17232d;
}

.tecnologias p {
  background-color: #17232d;
  opacity: 0.2;
}

.main-botao {
  margin-top: 110px;
  display: flex;
  gap: 30px;
}

.main-botao-projeto,
.main-botao-curriculo {
  transition: 0.5s;
}

.main-botao-projeto:hover,
.main-botao-curriculo:hover {
  background-color: #ff715a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    #ff715a 0px 30px 60px -30px, #ff715a 0px -2px 6px 0px inset;
}

.main-botao-projeto:active,
.main-botao-curriculo:active {
  opacity: 0.7;
}
